<%= form_for(seven) do |f| %>
  <% if seven.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seven.errors.count, "error") %> prohibited this seven from being saved:</h2>

      <ul>
      <% seven.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
