<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Next Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 7: What was the first picture on instagram of?</h1>

  <h3>a) a selfie of the founder, Kevin Systrom</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT A</a></button>

  <h3>b) a dog</h3> <button type="button"class="btn btn-success"><a href="/eights">SELECT B</a></button>

  <h3>c) a plate of food</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT C</a></button>

  <h3>d) the instagram logo</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT D</a></button>
</body>

