<%= form_for(eight) do |f| %>
  <% if eight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eight.errors.count, "error") %> prohibited this eight from being saved:</h2>

      <ul>
      <% eight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
