<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Next Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 8: Which of the following was NOT one of the first champions in the popular online game "League of Legends"?</h1>

  <h3>a) Udyr</h3> <button type="button"class="btn btn-success"><a href="/nines">SELECT A</a></button>

  <h3>b) Annie</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT B</a></button>

  <h3>c) Rammus</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT C</a></button>

  <h3>d) Alistar</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT D</a></button>
</body>

