<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Next Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 4: How does a governmental general fund account for purchase orders of $40,000?</h1>

  <h3>a) debit to Cash</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT A</a></button>

  <h3>b) debit to ENCUMBRANCES</h3> <button type="button"class="btn btn-success"><a href="/questionfives">SELECT B</a></button>

  <h3>c) again this still has nothing to do with IT</h3> <button type="button"class="btn btn-success"><a href="/wells">SELECT C</a></button>

  <h3>d) debit to EXPENDITURES</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT D</a></button>
</body>

