<%= form_for(nine) do |f| %>
  <% if nine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nine.errors.count, "error") %> prohibited this nine from being saved:</h2>

      <ul>
      <% nine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
