<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Next Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 9: How many steps are there up to the top of the Eiffel Tower?</h1>

  <h3>a) 1509</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT A</a></button>

  <h3>b) 2943</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT B</a></button>

  <h3>c) 2362</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT C</a></button>

  <h3>d) 1792</h3> <button type="button"class="btn btn-success"><a href="/tens">SELECT D</a></button>
</body>

