<p id="notice"><%= notice %></p>

<head>
  <h1>Welcome to my trivia maze!</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 1: What is the name of the Greek God of dreams?</h1>

  <h3>a) Baccheus</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT A</a></button>

  <h3>b) Morpheus</h3> <button type="button"class="btn btn-success"><a href="/microposts">SELECT B</a></button>

  <h3>c) Kamandhenu</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT C</a></button>

  <h3>d) James DeBettencourt</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT D</a></button>
</body>
