<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Last Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 10: How many bones are there in a giraffe's neck?</h1>

  <h3>a) 23</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT A</a></button>

  <h3>b) 40</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT B</a></button>

  <h3>c) 7</h3> <button type="button"class="btn btn-success"><a href="/congrats">SELECT C</a></button>

  <h3>d) 14</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT D</a></button>
</body>

