<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Next Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 3: If demand in an economic market shifts up, what happens to the market equilibrium?</h1>

  <h3>a) will eventually equilibriate at a higher point</h3> <button type="button"class="btn btn-success"><a href="/questionfours">SELECT A</a></button>

  <h3>b) will eventually equilibriate at a lower point</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT B</a></button>

  <h3>c) what even is this question saying right now</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT C</a></button>

  <h3>d) this doesnt have anything to do with IT</h3> <button type="button"class="btn btn-success"><a href="/wells">SELECT D</a></button>
</body>

