<%= form_for(questionsix) do |f| %>
  <% if questionsix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionsix.errors.count, "error") %> prohibited this questionsix from being saved:</h2>

      <ul>
      <% questionsix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
