<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Next Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 6: About how many french fries are in a McDonalds small fries?</h1>

  <h3>a) 30</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT A</a></button>

  <h3>b) 25</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT B</a></button>

  <h3>c) 50</h3> <button type="button"class="btn btn-success"><a href="/sevens">SELECT C</a></button>

  <h3>d) 40</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT D</a></button>
</body>

