<%= form_for(congrat) do |f| %>
  <% if congrat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(congrat.errors.count, "error") %> prohibited this congrat from being saved:</h2>

      <ul>
      <% congrat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
