<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Next Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 2: In what year was the iPod Nano created?</h1>

  <h3>a) 2006</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT A</a></button>

  <h3>b) 2010</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT B</a></button>

  <h3>c) 2003</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT C</a></button>

  <h3>d) 2005</h3> <button type="button"class="btn btn-success"><a href="/questionthrees">SELECT D</a></button>
</body>

