<p id="notice"><%= notice %></p>

<head>
  <h1>Great Job! Next Question...</h1>
</head>
<body>
  <br>
  <br>
  <br>
  <h1> Question 5: Did his girlfriend hack his assignment?</h1>

  <h3>a) yes</h3> <button type="button"class="btn btn-success"><a href="/questionsixes">SELECT A</a></button>

  <h3>b) no</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT B</a></button>

  <h3>c) maybe</h3> <button type="button"class="btn btn-success"><a href="/wells">SELECT C</a></button>

  <h3>d) debit to ENCUMBRANCES</h3> <button type="button"class="btn btn-success"><a href="/nopes">SELECT D</a></button>
</body>

